/* .underline-container {
  margin-left: 19em;
  margin-right: 19em;
  padding-bottom: 1em;
}

.underline {
  border-bottom: 2px solid white;
  max-width: 100%;
} */

.description {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.about-me-parallax {
  min-height: 35em !important;
}


/* blacklist  */

.container {
  border-radius: 0.3em;
}

/* Anchors Nav-bar position on Desktop to top */

.nav-bar {
  position: fixed;
  top: 0.1px;
  z-index: 999;
}

/* blacklist  */

/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* Mobile Specific Styles */


/**********************************************/

.side-nav {
  background-color: rgba(52, 52, 52, 0.8);
  width: 60%;
}

#nav-links {
  color: white;
}

#nav-links:hover {
  background-color: teal;
}

/**********************************************/

nav ul a:hover {
  background-color: teal;
}

blockquote {
  border-left: 5px solid teal;
}

.text-shadow {
  text-shadow: 3px 3px #07090A;
}

.bw-chip {
  filter: grayscale(100%);
}

.contact-me {
  width: 25%;
}

body {
  padding-top: 2em;
  font-family: "Lato", sans-serif;
  background-color: #313131;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .8);
}

.parallax-container .section {
  width: 100%;
}

.code-gif {
  max-width: 100%;
}

.tech-icon-block {
  max-height: 82.5px;
}


/* Font-Awesome icons */

.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-twitter,
.fa-linkedin,
.fa-github,
.fa-envelope {
  background: black;
  color: white;
}

.fa:hover {
  background: white;
  color: black;
}

.card-custom {
  background: #4d4d4d;
}

.card-text {
  font-size: 2em;
  text-align: center;
  padding-top: 0.8em;
  color: white !important;
}

.card-image {
  max-height: 50% !important;
}

.portrait-border {
  border-top: 0.1em solid #4d4d4d;
}

/* .portrait-container {
  padding-bottom: 2em;
} */

.name-tag {
  font-size: 3em;
  color: white;
}

.portrait-img {
  /* float: right; */
  padding: 10px;
  max-height: 18em;
  max-width: 18em;
  /* border-radius: 5em; */
  clip-path: circle(77px at center 113px);
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Phone Only */

@media only screen and (max-width: 599px) {
  .underline-container {
    /* margin-left: 4.5em;
    margin-right: 4.5em; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  .underline {
    border-bottom: 2px solid white;
    max-width: 100%;
  }
  .parallax-container {
    min-height: 15em;
  }
  /* Technologies section */
  .tech-icon-block {
    padding-left: 0.5em;
    max-width: 4em;
    padding-bottom: 1em;
  }
  .tech-icon-container {
    background-color: dimgray;
  }
  /* Technologies section */
  .name-text {
    font-size: 2.7em;
  }
  .title-text {
    margin-top: 0em;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 355px) {
  .underline-container {
    /* margin-left: 3em;
    margin-right: 3em; */
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  .underline {
    border-bottom: 2px solid white;
    max-width: 100%;
  }
  .parallax-container {
    min-height: 13em;
  }
  .name-text {
    font-size: 2.4em;
  }
  .title-text {
    margin-top: 0em;
    font-size: 1em;
  }
}

/* Low-res laptops and tablet portrait view */

@media only screen and (min-width: 600px) {
  .underline-container {
    /* margin-left: 16em;
    margin-right: 16em; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  .underline {
    border-bottom: 2px solid white;
    max-width: 100%;
  }
  /* Technologies section */
  .tech-icon-block {
    padding-left: 0.5em;
    max-width: 5em;
    padding-bottom: 1em;
  }
  .tech-icon-container {
    background-color: dimgray;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  /* Technologies section */
  .name-text {
    font-size: 4em;
  }
  .title-text {
    margin-top: 0em;
    font-size: 2.5em;
  }
  /* .nav-bar {
    position: fixed;
    top: 0.1px;
    z-index: 2;
  } */
}

/* Tablet landscape view */

@media only screen and (min-width: 900px) {
  .underline-container {
    /* margin-left: 16em;
    margin-right: 16em; */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  .underline {
    border-bottom: 2px solid white;
    max-width: 100%;
  }
  /* Technologies section */
  .tech-icon-block {
    padding-left: 0.5em;
    max-width: 5em;
    padding-bottom: 1em;
  }
  .tech-icon-container {
    background-color: dimgray;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  /* Technologies section */
}

/* Desktop display */

@media only screen and (min-width: 1200px) {
  .underline-container {
    /* margin-left: 22em;
    margin-right: 22em; */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  .underline {
    border-bottom: 2px solid white;
    max-width: 100%;
  }
  /* Technologies section */
  .tech-icon-block {
    padding-left: 0.5em;
    max-width: 7em;
    padding-bottom: 1em;
  }
  .tech-icon-container {
    background-color: dimgray;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  /* Technologies section */
}

/* High-PPI Desktop display */

@media only screen and (min-width: 1800px) {
  .underline-container {
    /* margin-left: 28em;
    margin-right: 28em; */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  .underline {
    border-bottom: 2px solid white;
    max-width: 100%;
  }
  /* Technologies section */
  .tech-icon-block {
    padding-left: 0.5em;
    max-width: 7em;
    padding-bottom: 1em;
  }
  .tech-icon-container {
    background-color: dimgray;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .parallax-container {
    min-height: 45em !important;
  }
  /* Technologies section */
  .name-text {
    padding-top: 0.8em;
    font-size: 8em !important;
  }
  .title-text {
    margin-top: 0em;
    font-size: 4em !important;
  }
  nav ul a {
    font-size: 1.8em;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  font-family: Courier New, Courier, monospace;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}